@tailwind base;
@tailwind components;
@tailwind utilities;



/* set table project status */

.complete-cell {
  background-color: #109A4E1F;
  color: #109A4E;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 14px;
  height: 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.inprogress-cell {
  background-color: #FF46461F;
  color: #FF4646;
  padding: 2px 8px;
  border-radius: 8px;
  font-size: 14px;
  height: 28px;
  display: inline;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}



/* styles.css */
.even {
  background-color: #FFFFFF; /* Light gray for even rows */
  /* font-size: 14px;
  font-weight: 500; */
}

.odd {
  background-color: #F8F9FC; /* White for odd rows */
  /* font-size: 14px;
  font-weight: 500; */
}



/* Custom Scrollbar CSS */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #CACACA; 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e3e3e3; 
}


